<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="YouTrack REST API Test Suite" parallel="methods" thread-count="3" verbose="1">

    <!-- Настройка listeners для отчетности -->
    <listeners>
        <listener class-name="com.youtrack.api.utils.TestReportListener"/>
    </listeners>

    <!-- Позитивные тесты -->
    <test name="Positive API Tests" preserve-order="true">
        <classes>
            <class name="com.youtrack.api.tests.PositiveTests"/>
        </classes>
    </test>

    <!-- Негативные тесты -->
    <test name="Negative API Tests" preserve-order="true">
        <classes>
            <class name="com.youtrack.api.tests.NegativeTests"/>
        </classes>
    </test>

    <!-- Data-Driven тесты с параллельным выполнением -->
    <test name="Data-Driven Tests" parallel="methods" thread-count="5">
        <classes>
            <class name="com.youtrack.api.tests.DataDrivenTests"/>
        </classes>
    </test>

</suite>
